<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>~title</title>
</head>

<body>
    Welcome to Home<br>
    ~indexing@{<a href="~@/images?subject=~paths" target="_self">~name</a><br>}@
    <form action="~@/submit" method="get">
        <label for="path">Father Path</label>
        <input lable="path" placeholder="Type your father subjects path" name="path" type="text" />
        <button type="submit">submit</button>
    </form>
</body>

</html>